{% extends "dashboard/base.html" %}

{% block title %}Database{% endblock %}

{% block main %}

<h1 class="mt-4">Database</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Lag Info</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        ip_core.db
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Hostname</th>
                        <th>IP</th>
                        <th>LAG</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Hostname</th>
                        <th>IP</th>
                        <th>LAG</th>
                        <th>Description</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for lag in lags %}
                    <tr>
                        <td>{{ lag.hostname }}</td>
                        <td>{{ lag.ip }}</td>
                        <td>{{ lag.lag }}</td>
                        <td>{{ lag.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}